body {background-image: url(https://raw.githubusercontent.com/gabriel-rausch/EIA1-Material/master/L03/task_material/images/bg.png);
      font-family: sans-serif; width: 800px; margin: 0 auto;

}



nav {position: fixed; top: 0%; font-size: 13pt; width: 800px; margin: auto; display: flex;
      justify-content: flex-end; z-index: 4; font-weight: bold; display: inline; text-align: center;
      


}


#port {color: orangered;



}


#navigator {background-color: black;
            



}






a:hover {background-color: cadetblue;



}




.Foto_Video {font-size: 17pt; color: orangered; font-weight: bold;



}



img:hover {transform: scale(1.1);



}





#Kontaktdaten {font-size: 18pt;



}


#Infodaten {font-size: 14pt;



}





#aboutme {font-size: 25pt;  



}


header {display: flex; justify-content: center;



}


#Kreis {background-color: orangered; position: absolute; width: 800px; height: 500px; top: 0%;
        border: 3px solid black; text-align: center; border-radius: 500px 500px 0 0; 
        transform: rotate(180deg); z-index: 1;



}


#iconFacebook {position: absolute; margin-top: 400px; margin-left: -300px; z-index: 10; 
               transition-property: transform;
               transition-duration: 0.3s;
               transition-timing-function: ease-in-out;
               
               
               



}


#iconFacebook:hover {transform: scale(1.3);



}



#iconInstagram {position: absolute;  margin-top: 400px; z-index: 10; margin-left: -360px;
                transition-property: transform;
                transition-duration: 0.3s;
                transition-timing-function: ease-in-out;


}

#iconInstagram:hover {transform: scale(1.3);



}

#TextimKreis {position: absolute;  margin-top: -160px; z-index: 3; font-size: 150pt;



}



#TextimKreis2 { z-index: 3; font-size: 23px; margin-left: 220px; margin-top: 240px;
               



}


#Name {margin-left: 295px; font-size: 30px;




}


#Kontaktseite {width: 800px; margin-top: 300px; display: flex; justify-content: center;




}



#ÜberMich {text-align: center; 




}

form {
      background-color: #eee;
      width: 370px; 
      padding: 20px;
      border: 1px solid #8c8c8c;
    }
input#absender,
textarea {
      width: 300px;
      border: 1px solid #8c8c8c;
      margin-bottom: 1em;
      
    }
textarea {
      height: 20em;
    }
input:focus,
textarea:focus {
      background-color: #d9d9d9;
    }



#Kontaktee {margin-top: -60px; color: orangered; font-size: 22pt; font-weight: bold; 
            margin-right: -110px;



}