body {background-image: url(https://raw.githubusercontent.com/gabriel-rausch/EIA1-Material/master/L03/task_material/images/bg.png);
      font-family: sans-serif; width: 800px; margin: 0 auto;

}



nav {position: fixed; top: 0%; font-size: 13pt; width: 800px; margin: auto; display: flex;
      justify-content: flex-end; z-index: 4; font-weight: bold;
      


}


#port {color: orangered;



}


#navigator {background-color: black; border-radius: 50px 50px; padding-right: 30px;
            



}



a:hover {background-color: cadetblue;



}










      





#Überschrift {text-align: center; font-size: 50pt;



}


#Unterüberschrift {font-size: 20pt; text-decoration: underline; color: orangered; font-weight: bold;
                   
    


}


.Foto_Video {font-size: 17pt; color: orangered; font-weight: bold;



}



img:hover {transform: scale(1.1);



}





#Kontaktdaten {font-size: 18pt;



}


#Infodaten {font-size: 14pt;



}





#aboutme {font-size: 25pt;  



}


header {display: flex; justify-content: center;



}


#Kreis {background-color: orangered; position: absolute; width: 800px; height: 500px; top: 0%;
        border: 3px solid black; text-align: center; border-radius: 500px 500px 0 0; 
        transform: rotate(180deg); z-index: 1;



}


#iconFacebook {position: absolute; margin-top: 400px; z-index: 1; margin-left: 60px; z-index: 10;
               



}


#iconFacebook:hover {transform: scale(1.1);



}



#iconInstagram {position: absolute;  margin-top: 400px; z-index: 10;


}

#iconInstagram:hover {transform: scale(1.1);



}

#TextimKreis {position: absolute;  margin-top: -190px; z-index: 3; font-size: 220px;



}



#TextimKreis2 { z-index: 3; font-size: 23px; margin-left: 300px; margin-top: 240px;
               



}


#Name {margin-left: 297px; font-size: 30px;




}


#Kontaktseite {width: 800px; margin-top: 300px; display: flex; justify-content: center;




}

form {
      background-color: #eee;
      width: 370px; /* Breite des Formulars */
      padding: 20px;
      border: 1px solid #8c8c8c;
    }
label { /* Beschriftung auf eigener Zeile */
      display: block;
      cursor: pointer; /* Mauszeiger wird zur Hand */
    }
input#absender,
textarea {
      width: 300px;
      border: 1px solid #8c8c8c;
      margin-bottom: 1em;
    }
textarea {
      height: 20em;
    }
input:focus,
textarea:focus {
      background-color: #d9d9d9;
    }