body {background-image: url(https://raw.githubusercontent.com/gabriel-rausch/EIA1-Material/master/L04/task_material_summer/Station_4_Forms/images/bg.png);
      font-family: Arial, Helvetica, sans-serif;


}

#container {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    



}



h1 {position: absolute; left: 90px; top: 20px; color: white;



}







#Kontaktformular {position: absolute; left: 70px; top: 95px;



}


p {font-size: 10pt; color: white; font-weight: bold;



}

